.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  padding: 2rem;
}

.App-header h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.card {
  padding: 2em;
}

.card button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 1rem;
}

.card button:hover {
  border-color: #646cff;
}

.card button:focus,
.card button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card p {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .card button:hover {
    border-color: #646cff;
  }

  .card p {
    color: rgba(0, 0, 0, 0.7);
  }
}

